<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Formulario</h1>
    <form action="/register_startup" method="post">
      <input type="text" name="startup" placeholder="Nombre de la Startup" />
      <br />
      <input type="text" name="descripcion" placeholder="Descripcion de la Startup" />
      <br />
      <input type="text" name="equipo" placeholder="Equipo fundador" />
      <br />
      <input type="text" name="modelo" placeholder="Modelo de negocio" />
      <br />
      <input type="text" name="productoservicio" placeholder="Producto o Servicio" />
      <br />
      <input type="text" name="mercadocompetencia" placeholder="Mercado y Competencia" />
      <br />
      <input type="text" name="proyeccionfinanciera" placeholder="Proyecciones Financieras" />
      <br />
      <input type="text" name="necedidaddefinanciamiento" placeholder="Necesidades de Financiamiento" />
      <br />
      <input type="text" name="correo" placeholder="Correo Electronico" />
      <br />
      <input type="text" name="telefono" placeholder="Telefono de Contacto" />
      <br>
      <input type="text" name="direccion" placeholder="Direccion">
      <input type="submit" />
    </form>
  </body>
</html>
