<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form action="/register" method="post">
        <input type="text" name="nombre">
        <input type="text" name="apellido">
        <input type="text" name="correo">
        <input type="password" name="pass">
        <input type="submit">
    </form>
</body>
</html>